body{
 background-image: url(media/fondo3.png);
}
.logoABC{
    width: 19%;
    position: absolute;
    margin-left: 39%;
    margin-top: 5%;
}
.general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}
.zona1{
    width: 33%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
.logo{
    width: 33%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.zona2{
    width: 33%;
    height: 700px;
    margin-left: 20%;
    margin-top: 3%;
    margin-right: auto;
}

.tituloZona{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    width: 50%;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 20px;
}
.direcciones{
    text-align: left;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 30%;
}
.celular{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 35px;
    margin-left: 28%;
    margin-top: 0%;
}
.whats{
    display: flex;
    flex-direction: row;
}
.logoWsp{
    width: 2%;
    margin-left: 5%;
    position: absolute;
}
.clickA{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: -20px;
}
a{
    text-decoration: none;
}
.servi{
    margin-top: -10%;
    margin-left: 39%;
}
.servicioD{
    color: white;
    text-align: center;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 35px;
    border-radius: 10px;
    border: solid red 3px;
    background-color: red;
}  

@media (max-width: 800px) {
    body{
        background-color: black;
        background-image: none;
    }
    .logoABC{
        width: 19%;
        position: absolute;
        margin-left: 78%;
        margin-top: -20%;
    }
    .general{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 25%;
    }
    .zona1{
        width: 50%;
    }
    .zona2{
        width: 50%;
        margin-left: auto;
    }
    .tituloZona{
        width: 60%;
        height: 4%;
        font-size: 24px;
    }
    .direcciones{
        margin-left: 25%;
        font-size: 17px;
    }
    .celular{
        margin-top: 3%;
        margin-left: 25%;
        font-size: 18px;
    }
    .logoWsp{
        margin-left: 6%;
        margin-top: 1%;
        width: 5%;
        position: absolute;
    }
    .servi{
        margin-top: -104%;
        margin-left: auto;
        margin-right: auto;
    }
    .servicioD{
        color: white;
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
        border-radius: 10px;
        border: solid red 3px;
        background-color: red;
        margin-right: auto;
    }
    .clickA{
        margin-top: -15px;
        font-size: 12px;
    }
}
